@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
margin:0;
padding: 0;
font-family: 'Inter', sans-serif;
font-weight: 400;
}

body {
background-color: white;
}

body, input, label {
font-size: 16px;
}

#mainContainer {
margin: auto;
}

#template {
max-width: 640px;
height: auto;
margin: auto;
padding: 50px;
box-sizing: border-box;
}

h1 {
color:#1928A3;
}

form {
margin-bottom: 40px;
padding: 24px;
border-radius:16px;
background-color:white;
border: 1px solid #fff4ee;  
box-shadow: 0px 3px 16px rgba(0,0,1,0.05);
text-align: left;
}

input, label {
width:100%;
display:block;
color:#888;
}

label {
font-weight: 800;
padding-bottom: 8px;
color:#1928A3;
font-family: 'Red Hat Display', sans-serif;
}

input {
background-color:#EEEFFF;
border-radius: 5px;
border: none; 
padding: 12px;
box-sizing: border-box;
}

hr {
visibility: hidden;
margin: 8px;
}


button {
display: block;
color: white;
background-color: #1928A3;
font-size: 16px;
font-weight:bold;
padding: 16px 32px;
margin: 20px auto;
border-radius: 40px;
cursor:pointer;
border: none;
}

button:hover {
background-color: #93BBFF;
}
